<%tamagotchis.each do |tamagotchi|%>
	<img src="https://robohash.org/<%= tamagotchi.id %>?size=150x150"/> 
	<ul class="list-group list-group-horizontal">
	<li class="list-group-item">Name: <%= tamagotchi.name %></li>
	<li class="list-group-item">Health: <%= tamagotchi.health %></li>
	<li class="list-group-item">Fun: <%= tamagotchi.fun %></li>
	<li class="list-group-item">
		<a href='/feed?id=<%= tamagotchi.id %>'>Feed Me!</a>
	</li>
	</ul>
<% end %>
